<div class="container">
  <div class="card col-md-6 offset-3 mt-2">
    <div class="card-header">Novo Cliente</div>
    <div class="card-body">
      <form [formGroup]="newCustomerFormGroup" (ngSubmit)="handleSaveCustomer()">
        <div class="mb-3">
          <label class="form-label">Nome:</label>
          <input type="text" formControlName="name" class="form-control">
          <span class="text-danger"
                *ngIf="newCustomerFormGroup.controls['name'].touched
                && newCustomerFormGroup.controls['name'].errors
                && newCustomerFormGroup.controls['name'].errors!['required']">
           Nome é obrigatório
          </span>
        </div>
        <div class="mb-3">
          <label class="form-label">Email:</label>
          <input type="text" formControlName="email" class="form-control">
          <span class="text-danger"
                *ngIf="newCustomerFormGroup.controls['email'].touched
                && newCustomerFormGroup.controls['email'].errors
                && newCustomerFormGroup.controls['email'].errors!['email']">
            Email é obrigatório
          </span>
        </div>
        <button [disabled]="!newCustomerFormGroup.valid" class="btn btn-info">Salvar</button>
		<br>
		<br>
		<br>
		<br>
		
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
      </form>
    </div>
  </div>
</div>
